<div class="form">

<h1>Search for people</h1>

<%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :first_name, params[:first_name], placeholder: "First name" %>
  <%= text_field_tag :last_name, params[:last_name], placeholder: "Last name" %>
  <%= submit_tag "Search", :name => nil, class: "btn-submit" %>
<% end %>

<% @users.each do |user| %> 
<div class="post"> 
  <p class="username"><%= link_to (user.first_name + " " + user.last_name), user_path(user) %></p> 





<% if session["user_id"] != user.id %>
	<% begin %>
		<% begin %>
			<% @friendships.each do |friendship| %>
				<% if friendship.friend == user.friends.find(session["user_id"]) %>
					<% if friendship.confirmed == 0 %>
						<%= link_to "Accept friendship", friendship, :method => "put" %>
					<% elsif friendship.confirmed == 1 %>
						<p><%= "Friends" %></p>
					<% end %>
				<% end %>
			<% end %>
		<% rescue %>
			<% @friendships.each do |friendship| %>
				<% if friendship.friend == current_user.friends.find(user.id) %>
					<% if friendship.confirmed == 0 %>
						<%= link_to "Delete request", friendship, :method => :delete %>
					<% elsif friendship.confirmed == 1 %>
						<p><%= "Friends" %></p>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<% rescue %>
		<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
	<% end %>
<% end %>




</div> 
<% end %>

<div>
