.post.post-record{ "data-id" => post.id }
  %p.author
    - unless post.user.blank?
      = link_to (post.user.first_name + " " + post.user.last_name), post.user
  %p.content= post.content
  %p.time= distance_of_time_in_words(post.created_at, Time.now) + " ago"
  - post.comments.each do |comment|
    .comments
      %p.author
        - unless comment.user.blank?
          = link_to (comment.user.first_name + " " + comment.user.last_name + ":"), comment.user
      %p.content= comment.content
      %p.time= distance_of_time_in_words(comment.created_at, Time.now) + " ago"
  = form_for [post, @comment_new] do |c|
    %p
      = c.label :comment, "New comment"
      %br/
      = c.text_area :content
    .actions= c.submit "Add comment"
