<% provide(:title, "RobBook") %>

<div class="posts">


<%= form_for(@post_new) do |f| %>  
   <div class="field"> 
      <%= f.label :post , " "%><br> 
      <%= f.text_area :content %> 
    </div> 
    <div class="actions"> 
      <%= f.submit "Post" , class: "btn-submit"%>
    </div> 
<% end %>



<% @post.reverse_each do |post| %> 
<div class="post"> 
	  <p class="author"><% unless post.user.blank? %><%= link_to (post.user.first_name + " " + post.user.last_name), post.user %><% end %></p> 
	  <p class="content"><%= post.content %></p> 
	  <p class="time"><%= distance_of_time_in_words(post.created_at, Time.now) + " ago" %></p> 




	<% post.comments.each do |comment| %> 
		<div class="comments">
		  <p class="author"><% unless comment.user.blank? %><%= link_to (comment.user.first_name + " " + comment.user.last_name + ":"), comment.user %><% end %></p> 
		  <p class="content"><%= comment.content %></p> 
		  <p class="time"><%= distance_of_time_in_words(comment.created_at, Time.now) + " ago" %></p> 
		</div>
	<% end %>

	<%= form_for [post, @comment_new] do |c| %>
		<p><%= c.label :comment, "New comment" %><br/>
		        <%= c.text_area :content %></p>
		<div class="actions"><%= c.submit "Add comment" %></div>
	<% end %>


</div> 
<% end %>

</div>
