- provide(:title, "RobBook")
.posts
  = form_for(@post_new) do |f|
    .field
      = f.label :post , " "
      %br/
      = f.text_area :content
    .actions
      = f.submit "Post" , class: "btn-submit"

  =render @post

- if not @post.blank?
  .load-more-container
    %h3.loading-gif{ "style" => "display:none;"}= "Loading"
    = link_to "Load More", posts_path, class: "load-more btn-submit"
