- if current_user
  %li= link_to "Home", '/'
  - if current_user.inverse_friendships.where(confirmed: 0).exists?
    %li.newFriendRequest= link_to "New Friends!", '/friends'
  - else
    %li= link_to "Friends", '/friends'
  %li= link_to "Messages", '/messages'
  %li= link_to "Search", '/users'
  %li= link_to "Settings", '/settings'
  %li= link_to "Log out", logout_path, method: "delete"
- else
  %li= link_to "Login", 'login'
  %li= link_to "Signup", 'signup'
