!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,500,300", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.header.navbar-default{:role => "navigation"}
      .container-fluid
        = link_to root_path do
          #logo
          %h1#title RobBook
          - if current_user
            %p
              Hello #{current_user.first_name}!
          - else
            %p Welcome to RobBook!
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse.pull-right
          %ul.nav.navbar-nav
            =render 'layouts/links'
    = yield
    =render 'layouts/friends_widget'
