!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,500,300", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.header.navbar-default{:role => "navigation"}
      .container-fluid
        = link_to root_path do
          #logo
          %h1#title RobBook
          - if current_user
            %p
              Hello #{current_user.first_name}!
          - else
            %p Welcome to RobBook!
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse.pull-right
          %ul.nav.navbar-nav
            =render 'layouts/links'
    = yield
    / show friends
    .friends
      %p Friends
      - list_of_friends.reverse_each do |f|
        %div
          %p.username= link_to (f.friend.first_name + " " + f.friend.last_name), user_path(f.friend)
          %p.time= distance_of_time_in_words(f.friend.last_seen_at, Time.now) + " ago" if f.friend.last_seen_at
    / show friends END
