!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,500,300", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .header
      .container
        = link_to root_path do
          #logo
          %h1#title RobBook
          - if current_user
            %p
              Hello #{current_user.first_name}!
          - else
            %p Welcome to RobBook!
        .nav.pull-right
          - if current_user
            %ul
              %li= link_to "Home", '/'
              - if current_user.inverse_friendships.where(confirmed: 0).exists?
                %li.newFriendRequest= link_to "New Friends!", '/friends'
              - else
                %li= link_to "Friends", '/friends'
              %li= link_to "Search", '/users'
              %li= link_to "Settings", '/settings'
              %li= link_to "Log out", logout_path, method: "delete"
          - else
            %ul
              %li= link_to "Login", 'login'
              %li= link_to "Signup", 'signup'
    = yield
    / show friends
    .friends
      %p Friends
      - list_of_friends.reverse_each do |f|
        %div
          %p.username= link_to (f.friend.first_name + " " + f.friend.last_name), user_path(f.friend)
          %p.time= distance_of_time_in_words(f.friend.last_seen_at, Time.now) + " ago" if f.friend.last_seen_at
    / show friends END
